.mainContainer{	
    margin: auto 80px;
   }
   .d-flex {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-bottom: 1rem;
   }
   .dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 304px;
    font-size: 12px;
    height: 375px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    padding: 2px 5px;
    cursor: pointer;
    padding-left: 15px;
}
li:hover {
    background-color: #f2f2f2;
}
.custom-button {
    width: 307px; /* Fixed width for the button */
    height: 34px; /* Fixed height for the button */
}


   .go-back {
       display: flex;
       align-items: center;
       cursor: pointer;
       font-weight: bold;
       gap: 0.5rem;
   }
   
   .align-buttons {
       display: inline;
       justify-content: space-between;
   }
   .university-info {
       background-color: #f08a157a;
       border: 1px solid #d9b05a;
       border-radius: 20px;
       padding: 10px;
       text-align: center;
       height: 37px;
   }

   .slds-badge {
       margin-right: 5px;
   }
   .searchButton{
           margin-top: 24px; 
           padding-left: 20px;
       }
   
   @media (max-width: 768px) {
       .mainContainer{	
            margin: auto 20px;
       }
       .d-flex {
           flex-direction: column;
           align-items: flex-start;
       }
       .align-buttons {
           display: flex;
           padding-top: 5%;
       
       }
       .btn-skills {
           font-size: 10px;
           padding: 2px 4px;
           margin: 1px;
       }
   }
   @media (max-width: 576px){
       .mainContainer{	
            margin: auto 20px;
       }
       .btn-skills {
           font-size: 10px;
           padding: 2px 4px;
           margin: 1px;
       }
       .align-buttons {
           display: flex;
           padding-top: 5%;
       
       }
       .btn-skills {
           font-size: 10px;
           padding: 2px 4px;
           margin: 1px;
       }
   
       .searchButton{
           padding-left: 0px !important; 
           
       }
   }
   @media only screen and (max-width: 600px) and (min-width: 375px){
       .align-buttons {
           display: flex;
           padding-top: 5%;
       
       }
   
       .searchButton{
           padding-left: 0px !important; 
           
       }
   }